<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2Adventure Planner2</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

</head>

<body>

    <img id="background" src="https://i.pinimg.com/originals/83/88/95/8388957219872c7e2cb2df11911af25d.jpg" alt="Background">

    <header>
        <h1>2Adventure Planner2</h1>
    </header>

    <section>
        <h2>Helping You Explore</h2>
        <div class="text-boxes">
            <div class="text-box">
                <p>Box 1 Content</p>
            </div>
            <div class="text-box">
                <p>Box 2 Content</p>
            </div>
            <div class="text-box">
                <p>Box 3 Content</p>
            </div>
        </div>
        <div style="text-align: center;">
            <a href="planner" class="start-plan-button">Start Plan</a>
        </div>
    </section>
   <section>
 <h2>5About Us 5</h2>
<div class="about-boxes">
            <div class="about-box">
                <p>Hey! I'm Amanda, a first year UBCO microbiology student teaming up with Eryk to learn more about programming, develop new skills, and bring a fun artistic touch to our project!</p>
            </div>
            <div class="about-box">
                <p>Box 2 Content</p>
            </div>
        </div>
</section>

    <footer>
        <!-- Your footer content here -->
    </footer>

</body>

</html>
