<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2Adventure Planner2</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

</head>

<body>

    <img id="background" src="https://i.pinimg.com/originals/83/88/95/8388957219872c7e2cb2df11911af25d.jpg" alt="Background">

    <header>
        <a href="/"><h1>2Adventure-Able2</h1></a>
    </header>

<style>
    .info-boxes z {
        word-spacing: 8px; /* Adjust the word spacing as needed */
        color: #ffffff; /* Set the text color to white or any other color that contrasts well with your background */
        background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background color */
        padding: 10px; /* Add padding for better visibility */
        line-height: 2.0; /* Adjust the line-height to create more space between lines */
    }
</style>

<section>
    <h2>Helping You Explore</h2>
    <div class="info-boxes">
        <div class="info-box">
            <z>Plan and make your next adventure a reality in seconds</z>
        </div>
        <div class="info-box">
            <z>Select  from  accessible, personalized travel options</z>
        </div>
        <div class="info-box">
            <z>Get an A.I. adventure guide specific to your needs</z>
        </div>
    </div>
    <div style="text-align: center;">
        <a href="planner" class="start-plan-button">Start Plan</a>
    </div>
</section>

  <section>

    <h2>What is Adventure Able?</h2>
    <div class="about-boxes">
        <div class="about-box">
            <p> Adventure-Able is a platform to plan your next outdoor adventure, inspired by our shared love of the outdoors.</p><br><p> From experience, we both recognize that planning a trip can be extremely stressful due to all the factors one has to take into consideration so we created a platform that simplifies the process.</p>
        </div>
    </div>

    <h2>About Us</h2>
    <div class="about-boxes">
        <div class="about-box">
            <p>Hey! I'm Amanda, a first-year UBCO microbiology student teaming up with Eryk to learn more about programming, develop new skills, and bring a fun artistic touch to our project! </p>
            <div class="owner-photo">
                <img src={% static 'mandi.jpeg' %}>
            </div>
        </div>
        <div class="about-box">
            <p>Hey there! My name is Eryk, I'm also a first year here at UBCO, planning on double majoring in Psychology and Computer Science. I've always loved programming and making things, so I thought BCHacks could a good place to test and improve my skills.</p>
            <div class="owner-photo">
                <img src={% static 'eryk.jpeg' %}>
            </div>
        </div>
    </div>
</section>

    
</body>


</html>

<!-- src={% static 'image.jpg' %} -->
