@font-face {
    font-family: 'Lamarkie';
    src: url('Lamarkie.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lamarkie', Arial, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

header {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
}

h1 {
    margin: 0;
    color: #fff;
}

section {
    flex: 1;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


h2 {
    color: #fff;
    align-items: center;
}

p {
    line-height: 1.6;
    color: #457a4a;
}

.text-boxes {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.text-box {
    flex: 0 0 calc(50% - 20px); /* Adjust the width as needed (33.33% for three boxes) */
    margin: 10px; /* Add margin to create space between boxes */
    padding: 20px; /* Increase padding for a larger box */
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px; /* Adjust the border-radius for rounded corners */
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
.about-boxes {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.about-box {
    flex: 0 0 calc(50% - 20px); /* Adjust the width as needed (33.33% for three boxes) */
    margin: 10px; /* Add margin to create space between boxes */
    padding: 20px; /* Increase padding for a larger box */
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px; /* Adjust the border-radius for rounded corners */
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.start-plan-button {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #457a4a;
    color: #fff;
    font-family: 'Lamarkie', sans-serif;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.start-plan-button:hover {
    background-color: #356037;
}

ul {
    color: #ddd;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.question-columns {
    display: flex;
    justify-content: start;
    width: 100%;
}

.question-column {
    float: left; /* Make sure it's aligned to the left */
    width: 25%; /* Use only half of the container's width */
}


/* Ensure that the boxes do not overflow the viewport on small screens */
@media (max-width: 768px) {
    .question-column {
        width: 100%; /* On small screens, let each column take the full width */
    }
}

.questions{
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

}

.question-text-box {
    background-color: rgba(255, 255, 255, 0.7);
}

.question-input {
    width: 100%; /* Make input fields fill the width of their container */
    padding: 10px; /* Add padding for better appearance */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    margin-top: 5px; /* Add margin between input fields */
    background-color: rgba(255, 255, 255, 0.7); /* Light white background */
    border: 1px solid #ccc; /* Add a border for clarity */
    border-radius: 5px; /* Add rounded corners */
}
.right-column {
    float: left; /* Make sure it's aligned to the left */
    width: 50%; /* Use only half of the container's width */
    background-color: rgba(255, 255, 255, 0.7);
	flex: 0 0 calc(50% - 20px); /* Adjust the width as needed (33.33% for three boxes) */
}
.container {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
}
